body{
    background-color: lavender
}

.nav-link{
    font-weight: lighter;
}

.nav-link:hover{
    font-weight:bolder;
    background-color: #eee;
}
header{
    height:600px;
    width:100%;
    background-image:url("Bora Bora");
    background-size:cover;
    text-align:center;
    font-family: 'Playfair Display', serif;
    color: #fff;
}
.aboutus {
    text-align: center;
    padding: 20px;
    
}

.aboutus i{
    font-size: 30px;
    padding: 25px 20px;
    
    /*change the color*/
    color:#fff;
    background-color: #5cb85c;
    
    /*resize container of icon*/
    width: 80px;
    height: 80px;
    
    /*make the container round*/
    border-radius: 50%;
}

.aboutus span{
    width: 200px;
    display: inline-block;
}

    /*Team*/
    .team{
        margin-top: 80px;
        margin-bottom: 80px;
        text-align: center;
    }
    .team img{
        width: 250px;
        height: 250px;
        /*Object fir will crop and center image based on width and height*/
        object-fit: cover;
        border-radius: 50px;
        margin-bottom: 50px;
    }
    .options i{
        font-size: 60px;
        padding: 25px 20px;
    }
    .container {
        text-align: center;
        width: 100%;
    }
    .getinvolved{
        background-color: lightblue;
        padding: 50px 0 80px;
        margin-top: 50px;
    }
    .options{
        background-color: #fff;
        padding: 30px;
        margin: 10px;
        border: 1px;
        border-radius: 50px;
        margin-bottom: 50px;
    }
    .getinvolved button{
        background-color: lightblue;
        border-color: lightblue;
        color: #fff;
    }
 .contact .btn {
     border-radius: 0;
     width: 100%;
     font-size: 15px;
     background-color: lightblue;
     color: #fff;
     padding-top: 10px;
     border-color: lightblue;
 }
 .contact i {
     font-size: 15px;
     padding: 15px 15px;
 }
 .contact .btn:hover {
     font-weight: bolder;
     background-color: #81DAF5;
 }
 .contact .container {
     height: 50px;
 }
 .footer.container {
     color: darkblue;
 }
 