body{
    background-color: lavender
}

.nav-link{
    font-weight: lighter;
}

.nav-link:hover{
    font-weight:bolder;
    background-color: #eee;
}
header{
    height:600px;
    width:100%;
    background-image:url("Bora Bora");
    background-size:cover;
    text-align:center;
    font-family: 'Playfair Display', serif;
    color: #fff;
}
.aboutus {
    text-align: center;
    
}

.aboutus i{
    font-size: 30px;
    padding: 25px 20px;
    
    /*change the color*/
    color:#fff;
    background-color: #5cb85c;
    
    /*resize container of icon*/
    width: 80px;
    height: 80px;
    
    /*make the container round*/
    border-radius: 50%;
}

.aboutus span{
    width: 200px;
    display: inline-block;
}
